@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    background-color: black !important;
}

section {
    background-color: black;
    color: white;
}

.altPage {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif !important;
    
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

a {
    color: #fff !important;
    text-decoration: none !important;
    pointer-events: pointer;
}

h1 {
    font-size: 36px;
    color: white;
}

.hero {
    background-image: url("./images/background-imagealt2.png");
    background-size: cover;
    animation: scrollAnimation 10s infinite;
}

.hero3 {
    background-image: url("./images/background-about.png");
    background-size: cover;
    animation: scrollAnimation 10s infinite;
}

@keyframes scrollAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.separator {
    height: 2px; /* Adjust the height of the separator as needed */
    width: 100%; /* Make the separator full width */
    margin: 20px 0; /* Adjust the top and bottom margin as needed */
    background: linear-gradient(to right, white, purple); /* Gradient background */
    background-size: 200% 100%; /* Double the background size for the animation */
    background-repeat: no-repeat; /* Prevent background repetition */
    animation: moveGradient 8s linear infinite;
}


@keyframes moveGradient {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.logo img {
    max-height: 100px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Height of the underline */
    bottom: 0;
    left: 0;
    background-color: #68148C; /* Color of the underline */
    transform: scaleX(0); /* Initially no width */
    transform-origin: right;
    transition: transform 0.3s ease; /* Transition for the underline */
}

.menu a:hover {
    font-size: 20px; /* Increase font size on hover (adjust as needed) */
}

.menu a:hover::before {
    transform: scaleX(1); /* Increase width of underline on hover */
}

.content {
    padding: 20px;
    /* Add more content here to see the effect of the sticky navbar */
}

.title {
    text-align: center;
    margin: 30px;
    margin-bottom: 40px !important;
    color: white;
}

/* Add styles for the skills section */
.skills-section {
    padding: 40px;
    text-align: center;
    
}

.skills-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}

.skill {
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: 5px solid #68148C; /* Customize border styles */
    border-radius: 10px; /* Customize the border radius */
    background-color: black; /* Customize the skill block background color */
}

.skill h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Add more styles for your skills section as needed */


.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-container {
    /* background-color: #333; */
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.hero-container2 {
    /* background-image: url("./images/background-imagealt.png"); */
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.name, .skills {
    font-size: 36px;
    position: absolute;
    opacity: 0;
    white-space: nowrap;
}

.about-me {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
    padding: 30px;
}

.name.active, .skills.active, .about-me.active {
    opacity: 1;
    transform: translateX(0);
}

.name {
    right: 100%;
    opacity: 0;
    animation: slideInRight 1s forwards;
}

#fade-out-text {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.skills {
    left: 100%;
    opacity: 0;
    animation: slideInLeft 1s forwards;
}

.fade-out {
    opacity: 0;
}

.contactform {
    padding: 30px;
}

.boxDesign {
    border-radius: 20px;
    margin: 20px;
}

.box1 {
    background-image: url("./images/developer-computers.png");
    min-height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 10px;
}

.back2 {
    background-image: url("./images/developer-pc2.png"); 
    background-size: cover;
    background-position: center;
}

.back3 {
    background-image: url("./images/blogimage.png"); 
    background-size: cover;
    background-position: center;
}

.back4 {
    background-image: url("./images/contactme.png"); 
    background-size: cover;
    background-position: center;
}

.back5 {
    background-image: url("./images/comingsoon.png"); 
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.footer-social a,
.footer-contact a {
color: #fff;
text-decoration: none;
margin: 0 10px;
font-size: 18px;
}

.footer-copyright {
margin-top: 20px;
}
  
.slider-container {
    padding: 20px;
    width: 100%; /* Adjust the width as needed */
    overflow: hidden;
    text-decoration: none;
}

.slider-container a {
    text-decoration: none;
    color: white;
    

}

.affinitydiagram {
    width: 100%;
}

.competitoranalysis {
    width: 100%;
}

.featureprioritization {
    width: 100%;
}
  
.project-overview {
    padding: 20px;
    width: auto;
}

.design-process {
    padding: 20px;
    width: auto;
}
.cardz {
    width: 100%;
    min-height: 200px; /* Adjust the height as needed */
    background-color: black;
    border: 5px solid #68148C;
    border-radius: 20px;
    transform: translateX(100%);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardz:hover {
    border: 5px solid #a616e3;
}
  
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="email"],
textarea,
.button2 {
    display: block;
    margin: 10px auto !important;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#clouds{
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds.png") repeat 0 0 transparent;
    width:100%;
    height:190px;
}

/* Background Animations */

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #000000;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #000000;
}

.colorBox:hover {
    background: #68148C;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #420B59;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}

.discipline-tags {
    display: flex;
    margin: 10px;
}

.tag {
    margin: 5px;
    padding: 10px;
    border: #68148C 1px solid;
    border-radius: 15px;
}

.aboutme {
    margin: 10px;
    padding: 10px;
    border: #68148C 1px solid;
    border-radius: 15px; 
}

.border {
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.aboutme-image {
    display: flex;
    justify-content: center;
}

.portfolio-component {
    text-align: center;
    padding: 20px;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .portfolio-item {
    text-align: center;
  }
  
  .portfolio-item a {
    text-decoration: none;
    color: #333;
  }
  
  .portfolio-item img {
    width: 150px; /* Set the width as per your design */
    height: 150px; /* Set the height as per your design */
  }
  
  .portfolio-item p {
    margin-top: 10px;
  }
  
.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
}